@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(28, 28, 30);
}

.tw-flex-center {
    @apply flex items-center justify-center
}

.position-abs-center-xy {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
}

.position-abs-center {
    @apply absolute left-1/2 transform -translate-x-1/2
}

.item-sidebar::before {
    @apply absolute content-[''] top-0 md:-right-5 h-full md:w-1 bg-blue -right-10 w-[2px]
}

.limit-six-line {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

.limit-four-line {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.limit-one-line {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.swiper-button-prev {
    @apply text-primary py-5 rounded-full hidden md:block after:content-['prev'] after:text-2xl
}

.swiper-button-next {
    @apply text-primary py-5 rounded-full  hidden md:block  after:content-['next'] after:text-2xl
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    @apply bg-primary text-primary
}

.skeleton {
	background-color: #747575;
	background-image:			
			linear-gradient(
				90deg, 
                rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)
			);
	background-size: 40px 100%;
	background-repeat: no-repeat; 
	background-position: left -40px top 0; 
	animation: shine 1s ease infinite;
}

@keyframes shine {
	to {
		background-position: right -40px top 0;
	}
}


/* CUSTOM SCROLL */
/*  */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(51,51,53); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
